<!DOCTYPE html>
<html ng-app="activitywatch">
<head lang="en">
    <meta charset="UTF-8">
    <title>ActivityWatch</title>
    <base href="/">

    <script src="http://underscorejs.org/underscore.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.min.js"></script>
    <script src="/scripts/main.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <style>
        .agent-status {
            width: 1em;
        }

        .agent-status > .alive {
            color: #090;
        }

        .agent-status > .dead {
            color: #F00;
        }
    </style>
</head>
<body>
<div ng-controller="MainCtrl">
    <div class="container">
        <a href="/">
            <div class="row">
                <div class="col-md-12 text-center" style="border-bottom: 1px solid #DDD; padding-bottom: 1em; margin-bottom: 1em;">
                    <h1>ActivityWatch</h1>
                </div>
            </div>
        </a>

        <div class="row">
            <div class="col-md-10">
                <div ng-view></div>
            </div>
            <div ng-controller="AgentsCtrl" class="col-md-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b>Agents</b>
                        <a ng-click="update_agents()" style="cursor: pointer; float: right;"><i class="fa fa-refresh" ng-class="{'fa-spin': refreshing}"></i></a>
                    </div>
                    <!-- TODO: Replace well-sm with better class such as some kind of panel-sm -->
                    <div class="panel-body well-sm">
                        <table class="table" ng-repeat="(type, agents) in agents" style="margin-bottom: 0.5em;">
                            <tr>
                                <th colspan="2" ng-switch="type" style="border-top: 0">
                                    <span ng-switch-when="logger">Loggers</span>
                                    <span ng-switch-when="watcher">Watchers</span>
                                    <span ng-switch-when="filter">Filters</span>
                                </th>
                            </tr>
                            <tr ng-repeat="agent in agents" ng-click="$location.url('/agent/'+agent.id)" style="cursor: pointer;">
                                <td class="agent-status" ng-switch="agent.alive">
                                    <span ng-switch-when="true" class="alive glyphicon glyphicon-ok"></span>
                                    <span ng-switch-when="false" class="dead glyphicon glyphicon-cancel"></span>
                                </td>
                                <td>
                                    {{agent.name}}
                                </td>
                            </tr>
                            <tr ng-if="agents.length == 0">
                                <td colspan="2"><small>No {{type}} loaded</small></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>